{
  "$schema": "https://json.schemastore.org/prettierrc",
  "printWidth": 160,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": true,
  "bracketSameLine": true,
  "embeddedLanguageFormatting": "auto",
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "rangeStart": 0
}
